<div id="content" #content>
  <mat-card>
    <div class="alert alert-info">
      <strong>Html To PDF Conversion, preview, print and download - Angular 6</strong>
    </div>
    <div>
      <input type="button" value="print" (click)="printCheckList()" />
      <input type="button" value="download" (click)="downloadPdf()" />
    </div>
  </mat-card>

    <fieldset style="border:inset;width:80%;">
      <legend style="text-align:center ">PDF PREVIEW</legend>
      <div id='pdf-data'style="  margin:0; padding: 0;
      font-family: 'Roboto', sans-serif;
      max-width: 100%;
      font-size: 10px;
      padding:0 10px;" [innerHTML]="data"></div>
    </fieldset>
</div>